<!doctype html>
<html lang="vi">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ title or course }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}"/>
</head>
<body>

  {% include "hero.html" %}

  {% block body %}{% endblock %}
  <!-- chèn socket.io-client trước -->
  <script src="https://cdn.jsdelivr.net/npm/socket.io-client@4.7.5/dist/socket.io.min.js"
          integrity="sha256-c+uha8iV/fpFTifsuA3vMe3o2GH5nhdf+TsRDqvsBE8="
          crossorigin="anonymous"></script>
 

  <!-- 2) Chỉ load main.js MỘT lần, và sau socket.io -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
